.input {
    margin-right: 100px; 
    padding: 10px;
    margin-top: 10px;
}


.button {
    margin-left: 510px; 
    padding: 10px;
    margin-top: -42px;
    color: #fff;
    border: none;
    cursor: pointer;
}